<!DOCTYPE html>
<html lang="en-US">

    <!-- HEAD -->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Files -->
        <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        <!-- Links -->
        <link rel="alternate" type="application/rss+xml" title="Road Less Read" href="/assets/rss.xml">
        <link rel="webmention" href="https://webmention.io/zacharykai.net/webmention" />
        <!-- Page Details -->
        <title>Shelf Source: AnnaBookBel | Road Less Read</title>
        <link rel="canonical" href="https://roadlessread.com/views/ss-annabookbel">
        <meta name="date" content="2026-06-13">
        <meta name="last-modified" content="2026-06-13">
        <meta name="description" content="Shelf Source interview with AnnaBookBel: readers who talk about books on their personal sites.">
    </head>
    <body>

        <!-- SIDEBAR-->

        <aside class="sidebar">

            <!-- Skip/Return Link -->
            <p><a href="#top" class="smalltext">Skip/Return To Top</a></p>

            <!-- Mobile Menu Toggle -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- Menu -->
            <header>

                <!-- Mobile Menu -->
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="sitetitle"><a href="/">Road Less Read</a></p>
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <!-- Menu Items -->
                <nav>
                    <!-- Collections --->
                    <p><strong>Collections</strong></p>
                    <p>
                        <a href="/jots/">Jots</a> •
                        <a href="/lists/">Lists</a> •
                        <a href="/tools/">Tools</a>
                    </p>
                    <p>
                        <a href="/notes/">Notes</a> •
                        <a href="/reviews/">Reviews</a> •
                        <a href="/views/">Views</a>
                    </p>
                    <!-- Pages -->
                    <p class="pages"><strong>Pages</strong></p>
                    <p>
                        <a href="/about">About</a> •
                        <a href="/links">Links</a> •
                        <a href="/sitemap">Sitemap</a>
                    </p>
                </nav>

                <!-- Subscribe link -->
                <p class="highlight"><a href="/subscribe">Subscribe</a></p>

            </header>

            <p class="smalltext">Est. 2019</p>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content-area h-entry">

            <!-- Header -->
            <header>
                <!-- Breadcrumbs -->
                <p class="smalltext">You Are Here → <a href="/">Homepage</a> → <a href="/views/">Views</a> ↴</p>
                <!-- Heading -->
                <h1 class="p-name">Shelf Source: AnnaBookBel</h1>
                <!-- Metadata -->
                <p class="smalltext">
                    <!-- Author -->
                    <strong>Written By</strong>: <a href="/about" class="p-author h-card" rel="author">Zachary Kai</a> »
                    <!-- Date Written -->
                    <strong>Published</strong>: <time class="dt-published" datetime="2026-06-13">13 Jun 2026</time> |
                    <!-- Date Updated -->
                    <strong>Updated</strong>: <time class="dt-updated" datetime="2026-06-13">13 Jun 2026</time>
                </p>
                <!-- Invisible Microformats -->
                <p style="display: none;" class="p-summary">Shelf Source interview with AnnaBookBel: readers who talk about books on their personal sites.</p>
            </header>

            <!-- Introduction -->
            <section class="e-content">

                <section>
                    <p id="top" class="dropcap"><a href="/views/#shelf-source">Shelf Source</a> talks to readers who share books they love on their sites. Today I'm joined by <a href="https://annabookbel.net" rel="noopener">AnnaBookBel</a>. Hope you enjoy reading, and do visit her site and say hello!</p>
                </section>

                <!-- Interview -->
                <section>
                    <h2>Interview</h2>

                    <!-- Q1 -->
                    <section>
                        <h3>What Book Changed How You Think About the Internet Or Consumer Technology?</h3>
                        <p>Not a book but a person. The owner of my local independent bookshop introduced me to <a href="https://www.librarything.com" rel="noopener">LibraryThing</a> for cataloging my books, and then a few of the foremost UK book blogs at the time. I thought I can do this, and started my own blog in 2008 — been doing it ever since. And my catalog is on LibraryThing under the username <a href="https://www.librarything.com/profile/Gaskella" rel="noopener">'Gaskella'</a>. I don't read e-books though — I'm strictly old school, hard copies only.</p>
                    </section>

                    <!-- Q2 -->
                    <section>
                        <h3>When You Finish a Book That Moves You, What's Your First Instinct?</h3>
                        <p>After my reaction, be it crying, laughing or growling, I'll let my thoughts brew for a bit before writing anything. I use loads of sticky tabs as I read to mark any passage I may want to quote or come back to. If I loved it, I can't wait to start telling friends about it though.</p>
                    </section>

                    <!-- Q3 -->
                    <section>
                        <h3>Has A Book Ever Inspired You To Build Or Change Something On Your Site?</h3>
                        <p>On my site, not really. However, I repost / like a lot less now than I used to on X etc when I read that each ❤️ uses a tiny bit of electricity to send, and that profligate hearting builds up to a lot of waste when everyone does it. I try to be a little greener in that respect! Sadly I can't find the post (I lost a whole load of posts during an update a few years ago).</p>
                    </section>

                    <!-- Q4 -->
                    <section>
                        <h3>What's A Book You've Recommended The Most, And What Does That Say About You?</h3>
                        <p>There are two I recommend over any others. <em><a href="https://annabookbel.net/my-literary-hero-paul-auster/" rel="noopener">The New York Trilogy</a></em> by the late, great Paul Auster, and <em><a href="https://shinynewbooks.co.uk/piranesi-by-susanna-clarke" rel="noopener">Piranesi</a></em> by Susannah Clarke. The Auster is a trio of detective stories exploring coincidence. The Clarke is a category-defying mystery set in another world contained within an infinite museum housing an ocean, narrated by a man who initially doesn't know why he is there! Both are quirky literary novels, challenging brilliantly written reads but completely different to each other. What does that say about me? Well... I like variety — I'm curious, I like quality, I like to be challenged — I'll stop there.</p>
                    </section>

                    <!-- Q5 -->
                    <section>
                        <h3>How Do You Decide Which Books Deserve a Place on Your Site Versus Staying Private?</h3>
                        <p>I review everything I read, good or bad — but luckily the good reads far outweigh the bad. I'm not afraid of posting a critical review, but will always explain why something didn't gel for me.</p>
                    </section>

                    <!-- Q6 -->
                    <section>
                        <h3>What's Something You Believe About Reading Most Would Disagree With?</h3>
                        <p>Er, can't think of anything.</p>
                    </section>

                    <!-- Q7 -->
                    <section>
                        <h3>If You Could Design a Library That Reflected Your Site's Ethos, What Would It Look Like?</h3>
                        <p>It would be light and airy, and the shelves would be packed with an eclectic collection of books, from classics to thrillers, heavy on modern literature with a good selection of non-fiction on subjects and people that interest me. A comfy sofa or big armchair by French windows.</p>
                    </section>

                    <!-- Q8 -->
                    <section>
                        <h3>What's A Genre Or Type Of Book You Used To Dismiss But Now Love?</h3>
                        <p>I can't think of any. The other way round though — when younger I loved fantasy novels, but now I'm too old for the majority of them!</p>
                    </section>

                    <!-- Q9 -->
                    <section>
                        <h3>How Has Having a Personal Website Changed the Way You Read?</h3>
                        <p>I never really read much in translation, except for devouring Maigrets as a teen, and some Russian greats. Making blog-friends through my blog who were into reading in translation opened my eyes to world literature and I've made it a good part of my reading.</p>
                    </section>

                    <!-- Q10 -->
                    <section>
                        <h3>What's A Book You Wish More People Would Read, And Why?</h3>
                        <p>I'm going to go with <em><a href="https://annabookbel.net/a-difficult-and-challenging-read-stay-with-it-to-be-rewarded/" rel="noopener">Riddley Walker</a></em> by Russell Hoban. This novel published in 1980 is noted for its language, being written in a degenerate future version of English. Set in Kent, 2000 years after a nuclear war, England has reverted to a scrap-iron age. It's a challenging dystopian read: a modern cult classic, a vision of a possible future, with a wonderful 12-year-old protagonist in Riddley. The language clicked with me and I loved it.</p>
                    </section>

                </section>

                <!-- Copy & Share Link -->
                <section>
                    <p class="smalltext"><strong>Copy + Share</strong>: <a href="https://roadlessread.com/views/ss-annabookbel" class="u-url">roadlessread.com/views/ss-annabookbel</a></p>
                </section>

            </section>

            <section class="end" aria-hidden="true"></section>

            <!-- FOOTER -->
            <footer>

                <!-- Newsletter Signup -->
                <section class="newsletter">
                    <p><strong><em>The Internet Isn't Fun Anymore. I Have Nothing To Read.</em></strong></p>
                    <p>Rubbish! It's all there, but there's no map. So skip the searching.</p>
                    <p><strong><a href="/subscribe">Get your curated books and curiosities delivered!</a></strong></p>
                </section>

                <!-- H-Card -->
                <section class="h-card vcard">
                    <section id="h-card-image">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img class="u-photo" loading="lazy" src="/assets/icon.png" alt="Zachary Kai's digital drawing: 5 stacked books (blue/teal/green/purple, black spine designs), green plant behind top book, purple heart on either side.">
                        </picture>
                    </section>
                    <section id="h-card-content">
                        <p><strong><a class="u-url u-id p-name p-author" href="https://roadlessread.com/about" rel="me author">
                        <span class="fn">Zachary Kai</span></a></strong> —
                        <span class="p-pronouns">he/him</span> |
                        <a class="u-email email" href="mailto:hi@zacharykai.net" rel="me">hi@zacharykai.net</a></p>
                        <p class="p-note">Zachary Kai is a space fantasy writer, offbeat queer, traveler, zinester, and avowed generalist. The internet is his livelihood and lifeline.</p>
                    </section>
                </section>

                <!-- Acknowledgement Of Country -->
                <section>
                    <p><strong>Acknowledgement Of Country</strong>: I owe my existence to the <a href="https://kht.org.au/" rel="noopener">Koori people's</a> lands: tended for millennia by the traditional owners and storytellers. What a legacy. May it prevail.</p>
                </section>

                <!-- Footer Links -->
                <section>
                    <p><strong>Useful Links</strong>:
                        <a href="/changelog">Changelog</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/random">Random Page</a> |
                        <a href="/reviewing">Review Policy</a></p>
                </section>

            </footer>

        </main>
    </body>
</html>
