<!DOCTYPE html>
<html lang="en-US">

    <!-- HEAD -->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Files -->
        <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        <!-- Links -->
        <link rel="alternate" type="application/rss+xml" title="Road Less Read" href="/assets/rss.xml">
        <link rel="webmention" href="https://webmention.io/zacharykai.net/webmention" />
        <!-- Page Details -->
        <title>Shelf Source: Cameron Jones | Road Less Read</title>
        <link rel="canonical" href="https://roadlessread.com/views/ss-caffeinelasers">
        <meta name="date" content="2026-04-18">
        <meta name="last-modified" content="2026-04-18">
        <meta name="description" content="Shelf Source interview with Cameron Jones: readers who talk about books on their personal sites.">
    </head>
    <body>

        <!-- SIDEBAR-->

        <aside class="sidebar">

            <!-- Skip/Return Link -->
            <p><a href="#top" class="smalltext">Skip/Return To Top</a></p>

            <!-- Mobile Menu Toggle -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- Menu -->
            <header>

                <!-- Mobile Menu -->
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="sitetitle"><a href="/">Road Less Read</a></p>
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <!-- Menu Items -->
                <nav>
                    <!-- Collections --->
                    <p><strong>Collections</strong></p>
                    <p>
                        <a href="/jots/">Jots</a> •
                        <a href="/lists/">Lists</a> •
                        <a href="/tools/">Tools</a>
                    </p>
                    <p>
                        <a href="/notes/">Notes</a> •
                        <a href="/reviews/">Reviews</a> •
                        <a href="/views/">Views</a>
                    </p>
                    <!-- Pages -->
                    <p class="pages"><strong>Pages</strong></p>
                    <p>
                        <a href="/about">About</a> •
                        <a href="/links">Links</a> •
                        <a href="/sitemap">Sitemap</a>
                    </p>
                </nav>

                <!-- Subscribe link -->
                <p class="highlight"><a href="/subscribe">Subscribe</a></p>

            </header>

            <p class="smalltext">Est. 2019</p>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content-area h-entry">

            <!-- Header -->
            <header>
                <!-- Breadcrumbs -->
                <p class="smalltext">You Are Here → <a href="/">Homepage</a> → <a href="/views/">Views</a> ↴</p>
                <!-- Heading -->
                <h1 class="p-name">Shelf Source: Cameron Jones</h1>
                <!-- Metadata -->
                <p class="smalltext">
                    <!-- Author -->
                    <strong>Written By</strong>: <a href="/about" class="p-author h-card" rel="author">Zachary Kai</a> »
                    <!-- Date Written -->
                    <strong>Published</strong>: <time class="dt-published" datetime="2026-04-18">18 Apr 2026</time> |
                    <!-- Date Updated -->
                    <strong>Updated</strong>: <time class="dt-updated" datetime="2026-04-18">18 Apr 2026</time>
                </p>
                <!-- Invisible Microformats -->
                <p style="display: none;" class="p-summary">Shelf Source interview with Cameron Jones: readers who talk about books on their personal sites.</p>
            </header>

            <!-- Introduction -->
            <section class="e-content">

                <section>
                    <p id="top" class="dropcap"><a href="/views/#shelf-source">Shelf Source</a> talks to readers who share books they love on their sites. Today I'm joined by <a href="https://caffeineandlasers.com" rel="noopener">Cameron Jones</a>. Hope you enjoy reading, and do visit his site and say hello!</p>
                </section>

                <!-- Interview -->
                <section>
                    <h2>Interview</h2>

                    <!-- Q1 -->
                    <section>
                        <h3>What Book Changed How You Think About the Internet Or Consumer Technology?</h3>
                        <p>The Internet Con: How To Seize The Means Of Computation.</p>
                        <p>It almost seems like a cop-out to cite Doctorow here, considering he is one of the most influential thinkers and writers on the topic of Internet and computer technologies.</p>
                        <p>That said, he holds that spot for good reason. Perhaps as someone whose career thus far has been dedicated to communication technologies, I am a bit biased.
                        <p>However, I am a big believer in Doctorow's argument that while digital freedom is not the <strong>most</strong> important topic of the 21st century, it is instrumental to whatever topic you think is the most, (whether that is climate, economic, or social rights). This is because whatever social movement you are trying to organise, it will be much easier with freedom to communicate and collaborate without the intervention of the oligarchs.</p>
                    </section>

                    <!-- Q2 -->
                    <section>
                        <h3>When You Finish a Book That Moves You, What's Your First Instinct?</h3>
                        <p>Non-fiction books which I think may be particularly useful I take extensive notes of.</p>
                        <p>For example, Negotiation: The Game Has Changed and Ros Atkins' The Art Of Explanation — I took extensive notes on both, essentially turning each into a syllabus which I can review later.</p>
                        <p>If it moves me on an emotional level, I will often let it sit in my mind for a few months and maybe write an essay about it, which I eventually did for <a href="https://caffeineandlasers.com/blogs/AnalysingDiscoElysiumlikeadog.html" rel="noopener">The Happiness of Dogs</a> and <a href="https://caffeineandlasers.com/blogs/TranshumanisminaTechnofeudalSociety.html" rel="noopener">Blindsight</a>.</p>
                        <p>Regardless of whether or not the book moved me, my first instinct on finishing it is to write a short review to put on my website at <a href="https://caffeineandlasers.com/Library.html" rel="noopener">caffeineandlasers.com/Library.html</a>.</p>
                    </section>

                    <!-- Q3 -->
                    <section>
                        <h3>Has A Book Ever Inspired You To Build Or Change Something On Your Site?</h3>
                        <p>Arguably, every book I read changes my website, since I update my reading list on each book. To give a more substantial answer, once again Doctorow influenced me to put an RSS feed on my website.</p>
                    </section>

                    <!-- Q4 -->
                    <section>
                        <h3>What's A Book You've Recommended The Most, And What Does That Say About You?</h3>
                        <p>"The Village Teacher" by Cixin Liu is a graphic novel I would like everyone to read. He uses a Sci-Fi framing to radically recontextualise the role of teachers in human civilisational development. One of my best friends is a teacher and that book made me somehow respect him even more. (And I already had a whole lot of respect.)</p>
                    </section>

                    <!-- Q5 -->
                    <section>
                        <h3>How Do You Decide Which Books Deserve a Place on Your Site Versus Staying Private?</h3>
                        <p>I typically don't post about books I don't finish. And I don't finish books I don't like. As a result my reading list has a pretty strong positivity bias.</p>
                    </section>

                    <!-- Q6 -->
                    <section>
                        <h3>What's Something You Believe About Reading Most Would Disagree With?</h3>
                        <p>For my red-hot take: Reading isn't necessarily "Good for your mind" if you are not reading broadly, AND reading non-fiction. I know that your primary school teacher said all reading is good reading, but this is one of those <a href="https://www.goodreads.com/quotes/7643664-as-humans-we-have-invented-lots-of-useful-kinds-of" rel="noopener">lies we tell to children</a> in my opinion.</p>
                        <p>That said, I don't think there is anything wrong with just reading what you love. I love fantasy and sci-fi genre fiction, but I do not necessarily think that it is "Good for my mind" much more than watching Netflix is.</p>
                    </section>

                    <!-- Q9 -->
                    <section>
                        <h3>How Has Having a Personal Website Changed the Way You Read?</h3>
                        <p>In a lot of ways, it inspires me to engage more deeply with what I am reading, since I am always looking for an excuse to write essays about interesting things. In addition, my commitment to write a two or three sentence review about everything I read makes me stop and think "how do I feel about this?" more often than it did before I started logging my reading.</p>
                    </section>

                    <!-- Q10 -->
                    <section>
                        <h3>What's A Book You Wish More People Would Read, And Why?</h3>
                        <p>Cory Doctorow's "The Internet Con" — jokes about me citing him all the time aside, he both describes the problem and puts forward a sane and achievable policy platform that democratic leaders could easily achieve with public support.</p>
                        <p>If I am being a bit more realistic, and picking a fiction book: I really think that more stories like Brandon Sanderson's "The Sunlight Man" ought to be told and shared. I think the world needs more stories about ambitious heroes, who are not only strong, but are also curious and compassionate in addition to their conviction to take bold action. The world has enough gritty movies about morally grey anti-heroes. I think a lot of people have forgotten that you can write an interesting hero's tale without resorting to Marvel movie humour or Alan Moore-esque cynicism.</p>
                    </section>

                </section>

                <!-- Copy & Share Link -->
                <section>
                    <p class="smalltext"><strong>Copy + Share</strong>: <a href="https://roadlessread.com/views/ss-caffeinelasers" class="u-url">roadlessread.com/views/ss-caffeinelasers</a></p>
                </section>

            </section>

            <section class="end" aria-hidden="true"></section>

            <!-- FOOTER -->
            <footer>

                <!-- Newsletter Signup -->
                <section class="newsletter">
                    <p><strong><em>The Internet Isn't Fun Anymore. I Have Nothing To Read.</em></strong></p>
                    <p>Rubbish! It's all there, but there's no map. So skip the searching.</p>
                    <p><strong><a href="/subscribe">Get your curated books and curiosities delivered!</a></strong></p>
                </section>

                <!-- H-Card -->
                <section class="h-card vcard">
                    <section id="h-card-image">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img class="u-photo" loading="lazy" src="/assets/icon.png" alt="Zachary Kai's digital drawing: 5 stacked books (blue/teal/green/purple, black spine designs), green plant behind top book, purple heart on either side.">
                        </picture>
                    </section>
                    <section id="h-card-content">
                        <p><strong><a class="u-url u-id p-name p-author" href="https://roadlessread.com/about" rel="me author">
                        <span class="fn">Zachary Kai</span></a></strong> —
                        <span class="p-pronouns">he/him</span> |
                        <a class="u-email email" href="mailto:hi@zacharykai.net" rel="me">hi@zacharykai.net</a></p>
                        <p class="p-note">Zachary Kai is a space fantasy writer, offbeat queer, traveler, zinester, and avowed generalist. The internet is his livelihood and lifeline.</p>
                    </section>
                </section>

                <!-- Acknowledgement Of Country -->
                <section>
                    <p><strong>Acknowledgement Of Country</strong>: I owe my existence to the <a href="https://kht.org.au/" rel="noopener">Koori people's</a> lands: tended for millennia by the traditional owners and storytellers. What a legacy. May it prevail.</p>
                </section>

                <!-- Footer Links -->
                <section>
                    <p><strong>Useful Links</strong>:
                        <a href="/changelog">Changelog</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/random">Random Page</a> |
                        <a href="/reviewing">Review Policy</a></p>
                </section>

            </footer>

        </main>
    </body>
</html>
