<!DOCTYPE html>
<html lang="en-US">

    <!-- HEAD -->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Files -->
        <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        <!-- Links -->
        <link rel="alternate" type="application/rss+xml" title="Road Less Read" href="/assets/rss.xml">
        <link rel="webmention" href="https://webmention.io/zacharykai.net/webmention" />
        <!-- Page Details -->
        <title>Shelf Source: Grubdog | Road Less Read</title>
        <link rel="canonical" href="https://roadlessread.com/views/ss-grubdog">
        <meta name="date" content="2026-04-11">
        <meta name="last-modified" content="2026-04-11">
        <meta name="description" content="Shelf Source interview with Grubdog: readers who talk about books on their personal sites.">
    </head>
    <body>

        <!-- SIDEBAR-->

        <aside class="sidebar">

            <!-- Skip/Return Link -->
            <p><a href="#top" class="smalltext">Skip/Return To Top</a></p>

            <!-- Mobile Menu Toggle -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- Menu -->
            <header>

                <!-- Mobile Menu -->
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="sitetitle"><a href="/">Road Less Read</a></p>
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <!-- Menu Items -->
                <nav>
                    <!-- Collections --->
                    <p><strong>Collections</strong></p>
                    <p>
                        <a href="/jots/">Jots</a> •
                        <a href="/lists/">Lists</a> •
                        <a href="/tools/">Tools</a>
                    </p>
                    <p>
                        <a href="/notes/">Notes</a> •
                        <a href="/reviews/">Reviews</a> •
                        <a href="/views/">Views</a>
                    </p>
                    <!-- Pages -->
                    <p class="pages"><strong>Pages</strong></p>
                    <p>
                        <a href="/about">About</a> •
                        <a href="/links">Links</a> •
                        <a href="/sitemap">Sitemap</a>
                    </p>
                </nav>

                <!-- Subscribe link -->
                <p class="highlight"><a href="/subscribe">Subscribe</a></p>

            </header>

            <p class="smalltext">Est. 2019</p>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content-area h-entry">

            <!-- Header -->
            <header>
                <!-- Breadcrumbs -->
                <p class="smalltext">You Are Here → <a href="/">Homepage</a> → <a href="/views/">Views</a> ↴</p>
                <!-- Heading -->
                <h1 class="p-name">Shelf Source: Grubdog</h1>
                <!-- Metadata -->
                <p class="smalltext">
                    <!-- Author -->
                    <strong>Written By</strong>: <a href="/about" class="p-author h-card" rel="author">Zachary Kai</a> »
                    <!-- Date Written -->
                    <strong>Published</strong>: <time class="dt-published" datetime="2026-04-11">11 Apr 2026</time> |
                    <!-- Date Updated -->
                    <strong>Updated</strong>: <time class="dt-updated" datetime="2026-04-11">11 Apr 2026</time>
                </p>
                <!-- Invisible Microformats -->
                <p style="display: none;" class="p-summary">Shelf Source interview with Grubdog: readers who talk about books on their personal sites.</p>
            </header>

            <!-- Introduction -->
            <section class="e-content">

                <section>
                    <p id="top" class="dropcap"><a href="/views/#shelf-source">Shelf Source</a> talks to readers who share books they love on their sites. Today I'm joined by <a href="https://your-local-grubdog.neocities.org/" rel="noopener">Grubdog</a>. Hope you enjoy reading, and do visit his site and say hello!</p>
                </section>

                <!-- Interview -->
                <section>
                    <h2>Interview</h2>

                    <!-- Q1 -->
                    <section>
                        <h3>When You Finish a Book That Moves You, What's Your First Instinct?</h3>
                        <p>To talk about it with my friends, actually! I get excited over whatever I read and infodump to them the moment we get on a call together. They're my prisoners now sorry &lt;3</p>
                    </section>

                    <!-- Q2 -->
                    <section>
                        <h3>Has A Book Ever Inspired You To Build Or Change Something On Your Site?</h3>
                        <p>I've thought about adding a "book review" type tag to my blog to discuss/review books and other pieces I've read, but I've never been sure about <em>what</em> I would write exactly. Currently books are sometimes listed in the "read" section of my monthly summaries alongside a very short description, but I would like to start saying more... If I ever find the words...</p>
                    </section>

                    <!-- Q3 -->
                    <section>
                        <h3>How Do You Decide Which Books Deserve a Place on Your Site Versus Staying Private?</h3>
                        <p>If they're worth talking about, basically.</p>
                        <p>Usually ones I enjoy and recommend are the ones I share. I can imagine myself sharing "so bad its good" kind of books in the future though.</p>
                    </section>

                    <!-- Q4 -->
                    <section>
                        <h3>What's Something You Believe About Reading Most Would Disagree With?</h3>
                        <p>"Most" is subjective here I think, so I'm going with "most (of the people from the groups I'm from)". In which case: you should read books that make you uncomfortable. 
                        <p>Not necessarily ones that are outright hostile or triggering, but absolutely ones that push your boundaries and introduce you to new ideas.</p>
                        <p>Too many people are willing to stay in their comfort zone in fear of being <em>un</em>comfortable, conflating discomfort with more extreme emotions.</p>
                        <p>If you don't know where to start, get on AO3 and find a tag/category you generally don't like but you think you can handle. I'm dead serious.</p>
                    </section>

                    <!-- Q5 -->
                    <section>
                        <h3>What's A Genre Or Type Of Book You Used To Dismiss But Now Love?</h3>
                        <p>"Dismiss" is not the right word, but I used to be a purely fiction reader.</p>
                        <p>I never could get into long, nonfiction books dedicated to one topic both due to lack of interest and due to a misconception that books were static and the information would quickly become outdated (the speed at which books become dated really depends on topic, and even dated books have their own uses). I think the first nonfiction I was able to sit down and read was <a href="/reviews/caste">Caste</a> by Isabel Wilkerson.</p>
                        <p>It didn't do anything special prose wise, it just was a topic I wanted to know more about and happened to be a brand new book that was gifted to me.</p>
                    </section>

                </section>

                <!-- Copy & Share Link -->
                <section>
                    <p class="smalltext"><strong>Copy + Share</strong>: <a href="https://roadlessread.com/views/ss-grubdog" class="u-url">roadlessread.com/views/ss-grubdog</a></p>
                </section>

            </section>

            <section class="end" aria-hidden="true"></section>

            <!-- FOOTER -->
            <footer>

                <!-- Newsletter Signup -->
                <section class="newsletter">
                    <p><strong><em>The Internet Isn't Fun Anymore. I Have Nothing To Read.</em></strong></p>
                    <p>Rubbish! It's all there, but there's no map. So skip the searching.</p>
                    <p><strong><a href="/subscribe">Get your curated books and curiosities delivered!</a></strong></p>
                </section>

                <!-- H-Card -->
                <section class="h-card vcard">
                    <section id="h-card-image">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img class="u-photo" loading="lazy" src="/assets/icon.png" alt="Zachary Kai's digital drawing: 5 stacked books (blue/teal/green/purple, black spine designs), green plant behind top book, purple heart on either side.">
                        </picture>
                    </section>
                    <section id="h-card-content">
                        <p><strong><a class="u-url u-id p-name p-author" href="https://roadlessread.com/about" rel="me author">
                        <span class="fn">Zachary Kai</span></a></strong> —
                        <span class="p-pronouns">he/him</span> |
                        <a class="u-email email" href="mailto:hi@zacharykai.net" rel="me">hi@zacharykai.net</a></p>
                        <p class="p-note">Zachary Kai is a space fantasy writer, offbeat queer, traveler, zinester, and avowed generalist. The internet is his livelihood and lifeline.</p>
                    </section>
                </section>

                <!-- Acknowledgement Of Country -->
                <section>
                    <p><strong>Acknowledgement Of Country</strong>: I owe my existence to the <a href="https://kht.org.au/" rel="noopener">Koori people's</a> lands: tended for millennia by the traditional owners and storytellers. What a legacy. May it prevail.</p>
                </section>

                <!-- Footer Links -->
                <section>
                    <p><strong>Useful Links</strong>:
                        <a href="/changelog">Changelog</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/random">Random Page</a> |
                        <a href="/reviewing">Review Policy</a></p>
                </section>

            </footer>

        </main>
    </body>
</html>