<!DOCTYPE html>
<html lang="en-US">

    <!-- HEAD -->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Files -->
        <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="preload" href="/assets/fraunces.woff2" as="font" type="font/woff2" crossorigin>
        <!-- Links -->
        <link rel="alternate" type="application/rss+xml" title="Road Less Read" href="/assets/rss.xml">
        <link rel="webmention" href="https://webmention.io/zacharykai.net/webmention" />
        <!-- Page Details -->
        <title>Shelf Source: Mortaki | Road Less Read</title>
        <link rel="canonical" href="https://roadlessread.com/views/ss-mortaki">
        <meta name="date" content="2026-03-28">
        <meta name="last-modified" content="2026-03-28">
        <meta name="description" content="Shelf Source interview with Mortaki: readers who talk about books on their personal sites.">
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {"@type": "ListItem", "position": 1, "name": "Homepage", "item": "https://roadlessread.com/"},
                {"@type": "ListItem", "position": 2, "name": "Views", "item": "https://roadlessread.com/views/"},
                {"@type": "ListItem", "position": 3, "name": "Shelf Source: Mortaki", "item": "https://roadlessread.com/views/ss-mortaki"}
            ]
        }
        </script>
    </head>
    <body id="page-top">

        <!-- Skip Link -->
        <a href="#top" class="skip-link">Skip to Content</a>

        <!-- SIDEBAR-->

        <aside class="sidebar">

            <!-- Mobile Menu Toggle -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- Menu -->
            <header>

                <!-- Mobile Menu -->
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="sitetitle"><a href="/">Road Less Read</a></p>
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <!-- Menu Items -->
                <nav>
                    <!-- Collections ---> 
                    <p><strong>Collections</strong></p>
                    <ul class="nav-list">
                        <li><a href="/jots/">Jots</a></li>
                        <li><a href="/lists/">Lists</a></li>
                        <li><a href="/tools/">Tools</a></li>
                        <li><a href="/notes/">Notes</a></li>
                        <li><a href="/reviews/">Reviews</a></li>
                        <li><a href="/views/">Views</a></li>
                    </ul>
                    <!-- Pages -->
                    <p class="pages"><strong>Pages</strong></p>
                    <ul class="nav-list">
                        <li><a href="/about">About</a></li>
                        <li><a href="/links">Links</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                    </ul>
                </nav>

                <!-- Subscribe link -->
                <p class="highlight"><a href="/subscribe">Subscribe</a></p>

            </header>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content-area h-entry">

            <!-- Header -->
            <header>
                <!-- Breadcrumbs -->
                <p class="smalltext">You Are Here → <a href="/">Homepage</a> → <a href="/views/">Views</a> → Shelf Source: Mortaki ↴</p>
                <!-- Heading -->
                <h1 class="p-name">Shelf Source: Mortaki</h1>
                <!-- Metadata -->
                <p class="smalltext">
                    <!-- Author -->
                    <strong>Written By</strong>: <a href="/about" class="p-author h-card" rel="author">Zachary Kai</a> »
                    <!-- Date Written -->
                    <strong>Published</strong>: <time class="dt-published" datetime="2026-03-28">28 Mar 2026</time> |
                    <!-- Date Updated -->
                    <strong>Updated</strong>: <time class="dt-updated" datetime="2026-03-28">28 Mar 2026</time>
                </p>
                <!-- Invisible Microformats -->
                <p style="display: none;" class="p-summary">Shelf Source interview with Mortaki: readers who talk about books on their personal sites.</p>
            </header>

            <!-- Introduction -->
            <section class="e-content">

                <section>
                    <p id="top" class="dropcap"><a href="/views/#shelf-source">Shelf Source</a> talks to readers who share books they love on their sites. Today I'm joined by <a href="https://mortaki.neocities.org/" rel="noopener">Mortaki</a>. Hope you enjoy reading, and do visit their site and say hello!</p>
                </section>

                <!-- Interview -->
                <section>
                    <h2>Interview</h2>

                    <!-- Q1 -->
                    <section>
                        <h3>When You Finish a Book That Moves You, What's Your First Instinct?</h3>
                        <p>Almost always to reread it. Or at the very least go back to the parts that resonated with me. Other times I just want bask in the feelings it caused in me.</p>
                        <p>There have been times where I didn't want to start reading anything new because I would lose that feeling of enlightenment some books put into me.</p>
                    </section>

                    <!-- Q2 -->
                    <section>
                        <h3>Has A Book Ever Inspired You To Build Or Change Something On Your Site?</h3>
                        <p>Does it count if it's a book I wrote? Either way, yes! Books and reading are an integral part of my life, so of course, they are an integral part of my site as well.</p>
                        <p>My site is a story, is a place for stories both mine and not, and takes inspiration from stories I've read. Trying to pinpoint any one inspiration would be impossible, if I'm honest...</p>
                    </section>

                    <!-- Q3 -->
                    <section>
                        <h3>What's A Book You've Recommended The Most, And What Does That Say About You?</h3>
                        <p>Ender's Shadow by Orson Scott Card. I literally didn't even have to think about it.</p>
                        <p>As for what that says about me... I'm not sure? My best guess is that it says I want people to understand me because I always say it's my favorite because it was the first time I felt seen and represented by a protagonist. It was the story that made me realize being singular was okay. I like giving that kind of reassurance to other people as well.</p>
                    </section>

                    <!-- Q4 -->
                    <section>
                        <h3>How Do You Decide Which Books Deserve a Place on Your Site Versus Staying Private?</h3>
                        <p>Oh, easy. It has to have taught me something unique or made me feel things I haven't felt before.</p>
                        <p>This might sound like a high bar, and it is, but it's much easier to accomplish than it sounds. I like books and stories that you experience rather than consume. If you go by that standard, lots of books offer a unique experience even if they're not the most original idea in the world.</p>
                    </section>

                    <!-- Q5 -->
                    <section>
                        <h3>What's Something You Believe About Reading Most Would Disagree With?</h3>
                        <p>Reading can be bad for you. This can manifest in a lot of ways, but as a writer as well as a reader, I'm very aware of how ideas can be absorbed from books.</p>
                        <p>I don't mean this in a "the booktok girls are going to date toxic men" kind of way, but more so on a larger, less personal scale.</p>
                        <p>The best and most obvious example I can show of this is that most readers will assume a character is white until stated otherwise. Sometimes even despite being stated otherwise. This happened because of a chronic lack of representation and it reinforces whiteness as the main character.</p>
                        <p>I don't think people take these kind of insidious habits seriously though.</p>
                    </section>

                    <!-- Q6 -->
                    <section>
                        <h3>If You Could Design a Library That Reflected Your Site's Ethos, What Would It Look Like?</h3>
                        <p>Well, it would be a loud library. Not loud loud, but the same undercurrent of noise you might find in a cafe.</p>
                        <p>It would have mostly open floor space with tables and chairs near the walls where the shelves are and couches, armchairs, and assorted cushions near the center. I design it this way because I want, first and foremost, a library that encourages dialogue and communication.</p>
                        <p>It gets quieter towards the shelves for concentration, but in the middle where people are most likely to meet, it's meant for comfort during long discussions or book clubs or brainstorming sessions.
                        <p>I imagine things like whiteboards or chalkboards would be available for that exact reason as well.</p>
                    </section>

                    <!-- Q7 -->
                    <section>
                        <h3>What's A Book You Wish More People Would Read, And Why?</h3>
                        <p>Ender's Shadow by Orson Scott Card as well as its sequel Shadow of the Hegemon. And also Red Rising by Pierce Brown.</p>
                        <p>Really, it's impossible to choose just one book and you knew that when you asked this question.</p>
                        <p>But luckily, all three of these have the same or similar reasons for being picked by me. They were big inspirations for my own writing. They are about living in unfair and unjust circumstances. They are about living anyway. They are about being different and scorned. They are about using your differences to your advantage and using scorn to fuel your progression. They are about trying to understand senseless things. In some ways, they are about all things being senseless.
                        <p>If you can't tell, I love these books. And frankly, that alone is enough for me to wish more people would read them.</p>
                    </section>

                </section>

                <!-- Copy & Share Link -->
                <section>
                    <p class="smalltext"><strong>Copy + Share</strong>: <a href="https://roadlessread.com/views/shelfsource/mortaki" class="u-url">roadlessread.com/views/ss-mortaki</a></p>
                </section>

            </section>

            <section class="end" aria-hidden="true"></section>

            <!-- FOOTER -->
            <footer>

                <!-- Newsletter Signup -->
                <section class="newsletter">
                    <p><strong><em>The Internet Isn't Fun Anymore. I Have Nothing To Read.</em></strong></p>
                    <p>Rubbish! It's all there, but there's no map. So skip the searching.</p>
                    <p><strong><a href="/subscribe">Get your curated books and curiosities delivered!</a></strong></p>
                </section>

                <!-- H-Card -->
                <section class="h-card vcard">
                    <section id="h-card-image">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img class="u-photo" loading="lazy" src="/assets/icon.png" alt="Zachary Kai's digital drawing: 5 stacked books (blue/teal/green/purple, black spine designs), green plant behind top book, purple heart on either side.">
                        </picture>
                    </section>
                    <section id="h-card-content">
                        <p><strong><a class="u-url u-id p-name p-author" href="https://roadlessread.com/about" rel="me author">
                        <span class="fn">Zachary Kai</span></a></strong> —
                        <span class="p-pronouns">he/him</span> |
                        <a class="u-email email" href="mailto:hi@zacharykai.net" rel="me">hi@zacharykai.net</a></p>
                        <p class="p-note">Zachary Kai is a space fantasy writer, offbeat queer, traveler, zinester, and avowed generalist. The internet is his livelihood and lifeline.</p>
                    </section>
                </section>

                <!-- Acknowledgement Of Country -->
                <section>
                    <p><strong>Acknowledgement Of Country</strong>: I owe my existence to the <a href="https://kht.org.au/" rel="noopener">Koori people's</a> lands: tended for millennia by the traditional owners and storytellers. What a legacy. May it prevail.</p>
                </section>

                <!-- Footer Links -->
                <section>
                    <p><strong>Useful Links</strong>:
                        <a href="/changelog">Changelog</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/random">Random Page</a> |
                        <a href="/reviewing">Review Policy</a></p>
                </section>

                <!-- Site Meta -->
                <p class="smalltext">Est. 2019 · <a href="#page-top">Return to Top ↑</a></p>

            </footer>

        </main>
    </body>
</html>