<!DOCTYPE html>
<html lang="en-US">

    <!-- HEAD -->
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Files -->
        <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        <!-- Links -->
        <link rel="alternate" type="application/rss+xml" title="Road Less Read" href="/assets/rss.xml">
        <link rel="webmention" href="https://webmention.io/zacharykai.net/webmention" />
        <!-- Page Details -->
        <title>Shelf Source: packetcat | Road Less Read</title>
        <link rel="canonical" href="https://roadlessread.com/views/ss-packetcat">
        <meta name="date" content="2026-05-02">
        <meta name="last-modified" content="2026-05-02">
        <meta name="description" content="Shelf Source interview with packetcat: readers who talk about books on their personal sites.">
    </head>
    <body>

        <!-- SIDEBAR-->

        <aside class="sidebar">

            <!-- Skip/Return Link -->
            <p><a href="#top" class="smalltext">Skip/Return To Top</a></p>

            <!-- Mobile Menu Toggle -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- Menu -->
            <header>

                <!-- Mobile Menu -->
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="sitetitle"><a href="/">Road Less Read</a></p>
                    <label for="menu-toggle" class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>

                <!-- Menu Items -->
                <nav>
                    <!-- Collections --->
                    <p><strong>Collections</strong></p>
                    <p>
                        <a href="/jots/">Jots</a> •
                        <a href="/lists/">Lists</a> •
                        <a href="/tools/">Tools</a>
                    </p>
                    <p>
                        <a href="/notes/">Notes</a> •
                        <a href="/reviews/">Reviews</a> •
                        <a href="/views/">Views</a>
                    </p>
                    <!-- Pages -->
                    <p class="pages"><strong>Pages</strong></p>
                    <p>
                        <a href="/about">About</a> •
                        <a href="/links">Links</a> •
                        <a href="/sitemap">Sitemap</a>
                    </p>
                </nav>

                <!-- Subscribe link -->
                <p class="highlight"><a href="/subscribe">Subscribe</a></p>

            </header>

            <p class="smalltext">Est. 2019</p>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content-area h-entry">

            <!-- Header -->
            <header>
                <!-- Breadcrumbs -->
                <p class="smalltext">You Are Here → <a href="/">Homepage</a> → <a href="/views/">Views</a> ↴</p>
                <!-- Heading -->
                <h1 class="p-name">Shelf Source: packetcat</h1>
                <!-- Metadata -->
                <p class="smalltext">
                    <!-- Author -->
                    <strong>Written By</strong>: <a href="/about" class="p-author h-card" rel="author">Zachary Kai</a> »
                    <!-- Date Written -->
                    <strong>Published</strong>: <time class="dt-published" datetime="2026-05-02">2 May 2026</time> |
                    <!-- Date Updated -->
                    <strong>Updated</strong>: <time class="dt-updated" datetime="2026-05-02">2 May 2026</time>
                </p>
                <!-- Invisible Microformats -->
                <p style="display: none;" class="p-summary">Shelf Source interview with packetcat: readers who talk about books on their personal sites.</p>
            </header>

            <!-- Introduction -->
            <section class="e-content">

                <section>
                    <p id="top" class="dropcap"><a href="/views/#shelf-source">Shelf Source</a> talks to readers who share books they love on their sites. Today I'm joined by <a href="https://nullrouted.space/" rel="noopener">packetcat</a>. Hope you enjoy reading, and do visit his site and say hello!</p>
                </section>

                <!-- Interview -->
                <section>
                    <h2>Interview</h2>

                    <!-- Q1 -->
                    <section>
                        <h3>What Book Changed How You Think About the Internet Or Consumer Technology?</h3>
                        <p><a href="https://nullrouted.space/2024/04/11/review-palo-alto-by-malcolm-harris/" rel="noopener"><em>Palo Alto</em> by Malcolm Harris</a>. This lengthy book breaks down the history of California and more specifically Silicon Valley. It was an eye opening look at the ideology that permeates a lot of contemporary internet and consumer technology.</p>
                        <p>It is thoroughly researched and very much earns its length. There is a lot of ground to cover and once I understood the historical context and lineage of companies like Google, Apple etc., a lot of things about the ways they operate started to make sense.</p>
                    </section>

                    <!-- Q2 -->
                    <section>
                        <h3>When You Finish a Book That Moves You, What's Your First Instinct?</h3>
                        <p>To write down a few immediate thoughts about the book. What exactly moved me and why. What I liked, what I didn't. What about the book resonated with me personally.</p>
                        <p>My notes about books usually have a heading with the title "Pre-Review Thoughts" — this is where I put these thoughts down. They are the early gestation of what eventually become my published reviews and are important to my writing process.</p>
                    </section>

                    <!-- Q3 -->
                    <section>
                        <h3>Has A Book Ever Inspired You To Build Or Change Something On Your Site?</h3>
                        <p>I don't think it was a single book that caused this but I changed the way reviews are categorized on my site. WordPress has a taxonomy system involving tags and categories and I made the effort to reorganize my categories so <a href="https://nullrouted.space/category/media/books/book-reviews/" rel="noopener">book reviews go in a sub-category</a> under the wider umbrella of "Media → Books". I have reviewed video games, movies, and TV shows in the past and those go in their own little sub-categories as well.</p>
                    </section>

                    <!-- Q4 -->
                    <section>
                        <h3>What's A Book You've Recommended The Most, And What Does That Say About You?</h3>
                        <p><em>The Will to Change</em> by bell hooks. This book fundamentally reoriented my understanding of my own masculinity and gender as a whole. I consider it a must read for everyone.</p>
                        <p>I think what this says about me is that I appreciate books that can make me think about large concepts (like gender) in ways that I hadn't thought about before.</p>
                        <p>I love books that open up ways of being for me.</p>
                    </section>

                    <!-- Q5 -->
                    <section>
                        <h3>How Do You Decide Which Books Deserve a Place on Your Site Versus Staying Private?</h3>
                        <p>My current policy is every book I finish reading gets a written review on my blog. Which means books I do not finish do not get a review and the only place these are usually recorded is on my <a href="https://app.thestorygraph.com/profile/packetcat" rel="noopener">Storygraph profile</a> and/or in a throwaway <a href="https://tenforward.social/@packetcat/" rel="noopener">social media</a> post.</p>
                    </section>

                    <!-- Q6 -->
                    <section>
                        <h3>What's Something You Believe About Reading Most Would Disagree With?</h3>
                        <p>Reading a lot does not necessarily make one a better (or smarter) person.</p>
                        <p>In some book communities I see a rather distasteful moral and intellectual superiority complex floating about, it is something I noticed as I took an increased interest in the wider bookish communities on the internet. The idea that reading is a superior use of one's time than something perceived as less intellectually nourishing.</p>
                        <p>Along those lines, I don't think reading is always an intellectually nourishing activity, sometimes I (and other people) read for fun and titillation and that's perfectly fine.</p>
                        <p>I think some people conflate reading a lot with reading critically which involves reading deeply and with a thoughtful and critical lens. Those two are not the same thing.</p>
                        <p>I do find myself wishing that people read more critically but at the end of the day everybody reads differently and for different reasons and I find passing moral judgement on people you don't know about that to be a very snobbish thing to do.</p>
                        <p>Some of these thoughts are expanded upon in a book I read last year — <a href="https://nullrouted.space/2025/11/15/review-how-to-read-now-by-elaine-castillo/" rel="noopener"><em>How to Read Now</em> by Elaine Castillo</a>. I recommend that book if this sort of meta-discussion about reading is something that interests you.</p>
                    </section>

                    <!-- Q7 -->
                    <section>
                        <h3>If You Could Design a Library That Reflected Your Site's Ethos, What Would It Look Like?</h3>
                        <p>There would be a lot of special edition hardcovers.</p>
                        <p>Lately I've taken to collecting special edition hardcovers of books I love, things with special illustrations, endpapers, and sprayed edges. Books as physical objects are very fascinating to me so I would love to show off cool book cover designs in my library.</p>
                        <p>My library would also have a wide variety of books, both non-fiction and fiction across the variety of genres I enjoy. There would be plenty of spare notebooks, blank paper and writing utensils lying about for the purposes of taking notes if one finds themselves wanting to do that. There would be small closed off rooms for book club like discussions because sometimes one wants to loudly discuss a book with another person and that doesn't jive well with a quiet reading space.</p>
                        <p>Last but not least, there would be a place to make your favourite hot drinks be it coffee and/or tea.</p>
                    </section>

                    <!-- Q8 -->
                    <section>
                        <h3>What's A Genre Or Type Of Book You Used To Dismiss But Now Love?</h3>
                        <p>Literary fiction. For a long time I had this idea that these were books that had some implied pretentiousness to them, some level of high brow art that so-called genre fiction (fantasy, sci-fi etc.) didn't possess. So I avoided reading in that genre until fairly recently.</p>
                        <p>I found that the genre term "literary fiction" is so vague as to be useless as a genre descriptor. Books categorized under this label vary wildly in style and subject matter.</p>
                        <p>In an effort to widen my reading horizons I made an effort to read more in this genre and two books — <a href="https://nullrouted.space/2025/11/01/review-the-emperor-of-gladness-by-ocean-vuong/" rel="noopener"><em>The Emperor of Gladness</em> by Ocean Vuong</a> and <a href="https://nullrouted.space/2025/08/20/review-martyr-by-kaveh-akbar/" rel="noopener"><em>Martyr!</em> by Kaveh Akbar</a> — ended up on my <a href="https://nullrouted.space/2026/01/01/my-2025-books-of-the-year/" rel="noopener">books of the year list for 2025</a>.</p>
                        <p>It just so happens that both books were literary fiction books written by poets so perhaps I have a thing for such books written by poets. I am not quite sure, I don't think I have a well defined taste for what kind of literary fiction I enjoy quite yet.</p>
                    </section>

                    <!-- Q9 -->
                    <section>
                        <h3>How Has Having a Personal Website Changed the Way You Read?</h3>
                        <p>It definitely has made me read more and read more critically. Once I had the policy of reviewing every book I read for my blog I wanted to make sure I read critically enough to be able to write about these books on a deeper level than just "I liked/disliked it".</p>
                        <p>This means that I keep fairly detailed notes on the books I read as I read them.</p>
                        <p>The level of detail in these notes varies from book to book but generally speaking I keep note of characters and other small detail for fiction books, quotes from both fiction & non-fiction books and anything else that catches my interest.</p>
                        <p>My reading and writing feed into each other in a positive feedback loop.</p>
                        <p>The more I read, the more opportunity I have to write. The more I write, the better I get at analyzing and thinking about books, the better I get at writing.</p>
                        <p>I enjoy both reading and writing and I am very glad to have found a way to give both of these hobbies the time and attention they deserve.</p>
                        <p>Reading has long been a part of who I am as a person, I was reading from a very young age but for a long time it felt very much a solitary activity.</p>
                        <p>Having a personal website where I can express my thoughts and feelings about a book brings me a sense of connection with the wider world and makes reading feel like more of a communal activity and I appreciate that.</p>
                    </section>

                    <!-- Q10 -->
                    <section>
                        <h3>What's A Book You Wish More People Would Read, And Why?</h3>
                        <p><a href="https://nullrouted.space/2024/06/08/review-the-hundred-years-war-on-palestine-by-rashid-khalidi/" rel="noopener"><em>The Hundred Years' War on Palestine</em> by Rashid Khalidi</a>.</p>
                        <p>Not only is this book relevant to the times we find ourselves in, I also think that the historical context provided in this book about the Palestinian struggle is one that people around the world can learn from. The shadow of settler colonialism affects many of us in ways both small and big and I think reading this book is a good way to start to understand the realities of why a lot of the world is the way it is.</p>
                    </section>
                </section>

                <!-- Copy & Share Link -->
                <section>
                    <p class="smalltext"><strong>Copy + Share</strong>: <a href="https://roadlessread.com/views/ss-packetcat" class="u-url">roadlessread.com/views/ss-packetcat</a></p>
                </section>

            </section>

            <section class="end" aria-hidden="true"></section>

            <!-- FOOTER -->
            <footer>

                <!-- Newsletter Signup -->
                <section class="newsletter">
                    <p><strong><em>The Internet Isn't Fun Anymore. I Have Nothing To Read.</em></strong></p>
                    <p>Rubbish! It's all there, but there's no map. So skip the searching.</p>
                    <p><strong><a href="/subscribe">Get your curated books and curiosities delivered!</a></strong></p>
                </section>

                <!-- H-Card -->
                <section class="h-card vcard">
                    <section id="h-card-image">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img class="u-photo" loading="lazy" src="/assets/icon.png" alt="Zachary Kai's digital drawing: 5 stacked books (blue/teal/green/purple, black spine designs), green plant behind top book, purple heart on either side.">
                        </picture>
                    </section>
                    <section id="h-card-content">
                        <p><strong><a class="u-url u-id p-name p-author" href="https://roadlessread.com/about" rel="me author">
                        <span class="fn">Zachary Kai</span></a></strong> —
                        <span class="p-pronouns">he/him</span> |
                        <a class="u-email email" href="mailto:hi@zacharykai.net" rel="me">hi@zacharykai.net</a></p>
                        <p class="p-note">Zachary Kai is a space fantasy writer, offbeat queer, traveler, zinester, and avowed generalist. The internet is his livelihood and lifeline.</p>
                    </section>
                </section>

                <!-- Acknowledgement Of Country -->
                <section>
                    <p><strong>Acknowledgement Of Country</strong>: I owe my existence to the <a href="https://kht.org.au/" rel="noopener">Koori people's</a> lands: tended for millennia by the traditional owners and storytellers. What a legacy. May it prevail.</p>
                </section>

                <!-- Footer Links -->
                <section>
                    <p><strong>Useful Links</strong>:
                        <a href="/changelog">Changelog</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/random">Random Page</a> |
                        <a href="/reviewing">Review Policy</a></p>
                </section>

            </footer>

        </main>
    </body>
</html>
